html{
    margin: 0;
    padding: 0;
    background-color: lightcyan;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1, a, h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    background-color: skyblue;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: lightsteelblue;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0px 10px;
}
nav a:hover {
    text-decoration: underline;
}

section {
    width: 100%;
    margin: 1vw;
    text-align: center;
}

.container{
    background-color: lightsteelblue;
    margin: 0 1.6vw;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
}
.box {
    margin: 5vw;
    padding: 1vw;
    width: 25vw;
    height: 400px;
    background-color: lightblue;
    border-radius: 10px;
    border: solid 2px lightslategray;
}
.impact-Text{
    background-color: lightsteelblue;
    opacity: 0.8;
    padding: 1vw;
    border-radius: 10px;
    border: 1px solid lightslategray;
    margin-top: 7vh;
}
footer {
    background-color: lightskyblue;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}
